.tropical {
    color : #f7325e;
    font-family : fantasy ;
    font-style: italic;
}
.popular{
    color :blueviolet ;
    font-family: fantasy;
    font-style: italic;
}
body{
    background-color: black;
}
.professional {
    color : white;
    font-family: Helvetica;
}
.white p {
    white
}